<div class="orderPage">
    <div class="orderContent">
        <div class="celebImage">
            <img src="../../../assets/celeb1.PNG" class="img1">
            <p>Order Placed Successfully</p>
            <img src="../../../assets//celeb2.PNG" class="img2">
        </div>
        <div class="orderText">
            hurray!!! your order is confirmed the order id is #123456 save the order id for further communication.
        </div>
        <div class="orderTable">
            <table class="tableContent">
                <tr class="tableHeading">
                    <td class="emailHeading">Email us</td>
                    <td class="contactHeading">Contact us</td>
                    <td class="addHeading">Address</td>
                </tr>
                <tr>
                    <td class="mailText">admin@bookstore.com</td>
                    <td class="phone">+91 8163475881</td>
                    <td class="address">42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                        Bangalore 560034</td>
                </tr>
            </table>
        </div>
        <button (click)="continueShopping()" class="continueBtn">CONTINUE SHOPPING</button>
    </div>
</div>
<div class="extraSpace"></div>