<div class="top">
    <div class="firstlogo">
        <div class="first">
            <img src="../../../assets/education.svg" height="35px" style="margin-top: 15px;">
        </div>
        <div class="first1">
            <span style="font-size: 28px;color: white;">BOOKSTORE</span>
        </div>
    </div>
    <div class="secondsearch">
        <img style="margin-left: 10px; height: 20px;margin-top: 8px;color: gray;" src="../../../assets/search_FILL0_wght400_GRAD0_opsz48.png">
        <input class="inputSearchbox" type="search" placeholder="Search...">
    </div>
    <div class="thirdicons">
        <div class="third1">
            <img src="../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.png" class="thirdimg1" style=" filter: invert(100%);">
            <span style="margin-left:20px;color: white;"> profile</span>
        </div>
        <div class="third2" style="margin-left: 1px;" routerLink="/Home/Cart">
            <img src="../../../assets/shopping_cart_FILL0_wght400_GRAD0_opsz48.png" class="thirdimg2">
            <span style="margin-left: 37px;color: white;">Cart</span>
        </div>
    </div>
</div>
<div>
    Book
</div>