<div class="signUpPage">
    <div class="pageContent">
        <div class="mainContent">
            <mat-card class="imageContent">
                <img src="../../../assets/shoping.png"  class="Shoppingimg">
                <mat-card-content class="imgtextContent">
                    <mat-label class="imagetext">ONLINE BOOK SHOPPING</mat-label>
                    
                </mat-card-content>
            </mat-card>
            <mat-card class="SignUppart">

                <router-outlet></router-outlet>
                <!-- <mat-card-content class="loginContent">
                    <mat-card-actions class="topButton">
                        <mat-label routerLink="/signin" class="topLoginButton">LOGIN</mat-label>
                        <mat-label  class="topSignUpButton">SIGNUP</mat-label>
                    </mat-card-actions>
                    <mat-card-content>
                        
                    </mat-card-content>
                    
                </mat-card-content> -->
            </mat-card>
        </div>
    </div>
</div>